<!DOCTYPE html>
<div class="container">

    <div class="jumbotron" id="jumbo">
        <h1 class="text-center">Who Should You Pick?</h1>
        <hr>
        <h3 class="text-center">Compare players here!</h3>
        <br>

    </div>
</div>
{{#if username}}
    Welcome {{username}}! Make some comparisons.
{{/if}}

{{#unless logged_in}}
    <form class="create-update-form" id="signin" action="/users/login" method="POST">

        <div class="form-group">
            <label for="em">Email:</label>
            <input type="text" id="em" name="email">
        </div>

        <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password">
        </div>

        <button type="submit">Sign In</button>
    </form>
    <br>
    <p> Sign in to get help picking your fantasy team! </p>
    <p> If you don't have an account, sign up now! </p><br>
    <a href="/users/new" class="su">Sign Up</a>
{{/unless}}

{{#if logged_in}}
    <div class="container">
        <div class="col-md-12">
            <h2>Add a Player</h2>
            <form class="create-update-form" action="fantasy/create" method="POST">

                <div class="form-group" id="add">
                    <label for="ca">Player Name:</label>
                    <input type="text" id="ca" name="player_name">
                </div>

                <button id="addB" type="submit">Add Player</button>
            </form>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Player A</h2>
                <ul>
                    {{#each fantasy}}
                        {{#unless this.devoured}}
                            <li>
                                {{this.player_name}}

                                <form action="fantasy/update/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="devoured" value="true">
                                    <button type="submit">DEVOUR!</button>
                                </form>
                                {{fantasy/delete-fantasy}}
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Player B</h2>

                <ul>
                    {{#each fantasy}}
                        {{#if this.devoured}}
                            <li>
                                {{this.player_name}}

                                <form action="fantasy/update/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="devoured" value="false">
                                    <button type="submit">PUKE IT BACK!</button>
                                </form>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}
